<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= config['title'] %></title>
    <meta name="description" content="<%= config['about'] %>">
    <meta name="author" content="<%= config['author'] %>">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css">
    <style>
      <%= include_styles %>
    </style>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">    
          <div class="twelve columns">
            <h1><%= config['title'] %></h1>
            <h3><%= config['author'] %></h3>
            <h4><%= config['about'] %></h4>
          </div>
        </div>
      </div>
    </header>

    <section class="main">
      <div class="container">
        <div class="row bottom">
          <div class="nine columns">
            <%= Kramdown::Document.new(content, config['kramdown'][target]).to_html %>
          </div>
          <div class="three columns" id="toc">
            <h3>Contents</h3>
          </div>
        </div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>   
    <script type="text/javascript">
      $(document).ready(function() {
        $("img").addClass("responsive");
        $("table").addClass("u-full-width");
        
        partToc = null;
        $("#markdown-toc > li > a").each(function(){
          if ($($(this).attr('href')).hasClass("part")) {
            $(this).parent().append("<ul class=\"part-toc\"></ul>");
            partToc = $(this).parent().find('.part-toc');
          } else {
            $(this).parent().appendTo(partToc);
          } 
        });
        
        $("#markdown-toc").appendTo('#toc');
                
        $("script[type='math/tex']").replaceWith(function() {
            var tex = $(this).text();
            return katex.renderToString(tex, {displayMode: false});
        });

        $("script[type='math/tex; mode=display']").replaceWith(function() {
            var tex = $(this).html();
            return katex.renderToString(tex.replace(/%.*/g, ''), {displayMode: true});
        });
        
        $("a").each(function(){
          if ($(this).attr('href').startsWith("#") && $($(this).attr('href')).is('figure')) {
            $(this).text($($(this).attr('href') + ' > figcaption > span').text());
          }
        });
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"></script>
  </body>
</html>